body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #0ab8a1cb, #89d3ddc0);
}

form{
  background: #89d3ddc0;
}

.container h3{
  color: #fff;
  text-align: justify;
}
.container h2{
  color: #fff;
  text-align: justify;
}

.container .border{
  border-radius: 40px;
}

.container .form-label{
  color: #fff;
}

.container .form-control{
  opacity: 0.1;
}

.container .input-group-text{
  opacity: 0.2;
}

.container .input-group-text i{
  color: #000;
  font-size: 20px;
}

.container button{
  background:#0ab8a1cb;
  color: #fff;
  border: none;
  transition: 0.5s ease-in-out;
}
.container button:hover{
  background: #0ab8a170;
  color: #fff;
  border: 2px #fff  solid;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

 .icon{
  color: #fff;
  font-size: 50px
}

.contato h4,p{
  color: #fff;
}

.contato a{
  color: #ffffffc7;
}